.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #545454;

  margin: 0;
  padding: 0;
}

@media all and (max-width: 426px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

@media all and (min-width: 427px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}
