.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
